<!DOCTYPE HTML>
<html>

<%- include("inc/head") -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

		<%- include("inc/header-menu") -%>

		<%- include("inc/header-index") -%>

		<%- include("inc/menus") -%>

		<%- include("inc/services") -%>

		<%- include("inc/depoiments") -%>

		<%- include("inc/facts") -%>

		<%- include("inc/subscribe") -%>

		<%- include("inc/footer") -%>

	</div>

	<%- include("inc/gototop.ejs") -%>

	<%- include("inc/scripts") -%>

</body>

</html>